/* General */

* {
   padding: 0;
   margin: 0;
}

body {
   font-family: 'Open Sans', sans-serif;
}

select {
   float:right;
}

button {
   background-color:#BDBDBD;
   border-radius: 5px;
   color: #212121;
}
button:hover {
   background-color:#9E9E9E;
   color: black;
}
img {
   max-width: 100%;
   max-heigh: 100%;
   padding: .2em;
   border: .1em solid #9E9E9E;
}
section {
   margin-bottom: 10%;
}
p {
   margin: 0;
}
ul {
  list-style-type: none;
}
section{ 
   margin-bottom: 40px;
}

.label {
   font-style: italic;
}
.houseName {
   text-decoration: underline;
   font-size:1.7em;
   color: black;
}
.houseName:hover {
   color: black;
}

.header {
   padding-top: 2%;
   padding-bottom: 2%;
}

/* Meals */

.heading {
   text-align: center;
   margin-bottom: 20px;
   font-size: 28px;
   background-color: #eeeeee;
}

.mealHeadings {
   width: 100%;
   text-align: center;
}

.mealHeadings li {
   display: inline;

}

.breakfast {
   display: inline-block;
   width: 33%;
   vertical-align:top;
}

.lunch {
   display: inline-block;
   width: 33%;
   vertical-align:top;
}

.dinner {
   display: inline-block;
   width: 33%;
   vertical-align:top;
}

/* ERROR */
.error {
   text-align: center;
}

/* Active */
.active {
   text-align: center;
   /*border: solid  black;*/
}
