/* General */

* {
   padding: 0;
   margin: 0;
}

body {
   font-family: 'Roboto Slab', serif;
}

.container {
   width: 100%;
}

main {
   margin: 0%;
}

select {
   float:right;
}

button {
   border: none;
}

img {
   max-width: 100%;
   max-height: 100%;
   padding: .2em;
   border: .1em solid #9E9E9E;
}

section {
   margin-bottom: 30px;
}

section:first-child {
   margin-top: 50px;
}

p {
   margin: 0;
}

ul {
  list-style-type: none;
}

/* Meny Styling */
#calendar {
   width: 100%;
   font-size: 20px;
}

.heading {
   text-align: center;
   margin-bottom: 20px;
   font-size: 20px;
   text-transform: lowercase;
   background-color: #f7cf9e;
}

.heading:first-letter {
   text-transform: uppercase;
}

.mealHeadings {
   width: 100%;
   text-align: center;
}

.mealHeadings li {
   display: inline;

}

.diningHall {
   width: 750px;
}

.diningHall li:hover{
   padding: 0px 5px;
   background: #eee;
}

/*.diningHall li:nth-child(odd){
   padding: 0px 5px;
   background: #ddd;
}*/

.breakfast {
   display: inline-block;
   width: 30%;
   margin: 0% 1%;
   vertical-align:top;
}

.lunch {
   display: inline-block;
   width: 30%;
   margin: 0% 1%;
   vertical-align:top;
}

.dinner {
   display: inline-block;
   width: 30%;
   margin: 0% 1%;
   vertical-align:top;
}

/* ERROR */
.error {
   /*text-align: center;*/
}

/* Active */
.active {
   text-align: center;
   /*border: solid  black;*/
}

/* Filter Sidebar */
#sidebar div select {
   width: 100%;
   margin-bottom: 30px;
}

/*.bar {
   margin: 10px;
   size: 5px;
}*/

nav {
   margin-bottom: 50px;
}

nav button {
   margin-left: 50px;
   margin-right: 10px;
}

nav button:hover {
   cursor: pointer;
}

.icon {
   font-size: 28px;
}

#sidebar {
   margin-left: 10%;
   max-width: 220px;
   z-index:1;
   overflow:auto
}

.show {
   max-width: 300px;
   display: flex;
}

.hide {
   max-width: 300px;
   display: none;
}

#main {
   margin: 0px 25%;
}

#calendar {
   margin: 0px 25%;

}

